# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Editor backup files
*~
.#*

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency management
Pipfile.lock
poetry.lock

# Sensitive information (example)
.env
config.ini
chroma_db